html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: black;
    background-color: white;
}

#header {
    background-color: #21E1E1;
    padding-bottom: 5%;
}

#about {
    background-color: #FFD8A9;
    padding: 3% 0;
    display: flex;
}

#projects {
    background-color: #21E1E1;
    padding: 3% 0;
}

#footer {
    background-color: #FFD8A9;
    padding: 3% 0;
    background-image: url("images/footer-img.PNG");
}

/* Navbar */

.navbar {
    padding-top: 2%;
    background-color: #7FB77E;
    width: 500px;
    margin-left: 15%;
    /* border-top: 0; */
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* border: 10px; */
}

.navbar-nav {
    margin-left: 8%;
    padding-bottom: 10px;
}

.nav-link {
    margin-right: 50px;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: lightcyan;
}

/* Buttons */

.download-button {
    position: absolute;
    top: 3%; /* 35px */
    right: 5%; /* 100px */
    color: black;
}

/* Title */

.intro {
    display: flex;
}

.leftIntro {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

.cloud1 {
    align-self: flex-start;
    /* position: relative;
    top: 10%;
    left: 5%; */
    width: 300px;
}

.title {
    align-self: center;
    /* position: relative; */
    /* top: 20%; 250px */
    /* left: 25%; 200px */
    /* height: 100%; */
}

.header-title {
    font-family: "Montaga";
    font-size: 5rem;
    /* position: relative;
    right: 3%; 30px */
}

.header-name {
    font-family: "Dancing Script";
    font-size: 7rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.contact-icons {
    transform-origin: left top;
    transform: scale(4);
    position: relative;
    left: 30%;
}

.contact-icon {
    margin: auto 3px;
}

.cloud2 {
    align-self: flex-end;
    /* position: absolute;
    top: 70%;
    left: 44%; */
    width: 300px;
}

/* Carousel */

.rightIntro {
    flex: 1;
}

.header-img {
    width: 500px; /* 500px */
    height: 830px; /* 830px */
    display: block;
    margin: 0 auto;
    /* position: relative;
    left: 25%; */
}

.control-button {
    filter: invert(100%);
}

/* Modify the About Section */
/* About */

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    transform: scale(2);
    margin-bottom: 5%;
    /* position: relative;
    top: 140px;
    left: 300px; */
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    /* padding: 0 0 5% 20%; */
    font-family: "Montaga";
    font-size: 3rem;
}

.about-info {
    display: inline-block;
    width: 70%;
    padding-bottom: 5%;
    font-size: 1.5rem;
}

/* Projects */

.projects-title {
    text-align: center;
    font-family: "Montaga";
    font-size: 4rem;
}

.projects-header {
    text-align: center;
    padding: 1% 0 3%;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
}

.see-more-button-text {
    text-align: center;
    padding: 3% 0;
}

.see-more-button {
    border-radius: 50%;
    display: inline;
    width: 40px;
    height: 40px;
}

.see-more-text {
    display: inline;
    padding-left: 5px;
}

.more-cards {
    display: none;
}

.project-image-1 {
    height: 140px;
}

.project-image-2 {
    height: 110px;
}

.project-image-5 {
    height: 435px;
}

.card-bottom {
    margin-top: 5%; 
}

/* Footer */

.footer-text {
    font-size: 1.1rem;
    text-align: center;
    color: #123650;
    font-weight: bold;
}

/* Responsiveness */

@media (max-width: 1400px) {
    .cloud1 {
        align-self: center;
        width: 300px;
    }
    .cloud2 {
        align-self: center;
        width: 300px;
        padding-top: 7%;
    }
}

@media (max-width: 1280px) {
    .header-title {
        text-align: center;
    }
    .header-name {
        text-align: center;
    }
}

@media(max-width: 1030px) {
    .intro {
        flex-direction: column;
    }
    .cloud1 {
        align-self: flex-start;
        width: 300px;
        padding-left: 3%;
    }
    .cloud2 {
        align-self: flex-end;
        width: 300px;
        padding-bottom: 5%;
        padding-right: 3%;
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        margin: 0 0 3% 7%;
    }
    .about-left {
        position: relative;
        top: 12%;
        padding-bottom: 24%;
    }
}

@media (max-width: 850px) {
    .navbar {
        margin-left: 20%;
    }
    .download-button {
        position: absolute;
        right: 25%;
        top: 1.5%;
    }
}

@media (max-width: 767px) {
    .about-left {
        padding-bottom: 30%;
    }
    .download-button {
        position: absolute;
        right: 20%;
    }
}

@media (max-width: 500px) {
    .navbar {
        margin-left: 5%;
        width: 90%;
    }
    .download-button {
        position: absolute;
        top: 0.7%;
        right: 15%;
    }
    .cloud1 {
        align-self: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .contact-icons {
        position: relative;
        left: 15%;
    }
    .cloud2 {
        align-self: center;
        margin-top: 10%;
    }
    .header-img {
        width: 90%;
    }
    .about-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img {
        transform: scale(1.5);
        position: relative;
        bottom: 20%;
        padding-bottom: 5%;
    }
}
